.certificates ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1.7rem;
}

.certificates li {
    flex-basis: 40%;
}

.certificates li p {
    font-size: 0.9rem;
    font-weight: 600;
}

.certificates li h4 {
    color: gray;
    font-style: italic;
    font-weight: normal;
    font-size: 0.9rem;
}