.hero {
    display: flex;
    gap: 1.5rem;
}

.hero article {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.hero p {
    text-wrap: pretty;
}

.hero h1 {
    opacity: 0.6;
    font-size: 2rem;
}

.hero h2 {
    color: gray;
    font-size: 1.2rem;
    font-weight: 400;
}

.hero img {
    border-radius: 10px;
}

.hero span {
    margin-inline: -0.4rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.hero .socials {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
}

.hero li {
    margin-top: 1rem;
}

.hero li a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hero .socials-print {
    display: none;
}