@media print {
    .hero span {
        margin-inline: 0rem;
        gap: 0.9rem;
        margin-bottom: 0.3rem;
    }

    .hero li {
        margin-top: auto;
    }

    .hero figure img {
        display: none;
    }

    .hero .socials {
        display: none;
    }

    .hero .socials-print {
        display: flex;
        flex-direction: column;
        row-gap: 0.7rem;
        text-decoration: underline;
    }
    
    .hero .socials-print li {
        flex-basis: 40%;
    }
    
    .projects article:first-of-type{
        break-after: page;
    }

    .projects article {
        padding: 0.8rem;
        flex-basis: 30%;
    }

    .projects img {
        display: none;
    }

    .certificates li {
        border: 0;
    }
    .certificates li p{
        text-decoration: underline;
    }

    .certificates li::after {
        content: ""
    }
}