* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h2 {
    color: #00c8aa;
}

body {
    font-family: system-ui, sans-serif;
}

.title {
    padding: 0.8rem 0;
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.education {
    
}


