* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: system-ui, sans-serif;
    padding: 1rem;
    margin: auto;
}

body .container:first-of-type {
    margin: 0.5rem auto;
}

.container {
    max-width: 700px;
    margin: 1.2rem auto;
}

.title {
    padding-bottom: 0.8rem;
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}